<h1>Sensor Calibration</h1>
<p>Select a sensor to calibrate:</p>
<table>
  <tbody>
  <tr>
    <% @sensors.each {|sensor| %>
      <tr>
        <th>Sensor Name</th>
        <th>Run Calibration</th>
      </tr>
      <tr>
        <td><%= sensor %></td>
        <td><%= link_to "Run calibration on " + sensor + " sensor.", '/' + @id + '/sensor_calibration/' + @dev_id + "/start/" + sensor %></td>
      </tr>
  <% } %>
  </tr>
  </tbody>
</table>