<%= form_tag('/' + @id + '/sensor_calibration/' + @dev_serial + '/next_step', method: 'post') do %>
    <h1>Sensor Calibration</h1>
    <h2><%= @sensor_name %> calibration in progress.</h2>
    <p><%= @user_prompt %></p>
    <%= submit_tag 'Next Step', :name => 'next_step' %>
<% end %>
