<h1>ViTeMBP Dasboard</h1>
<h3>Welcome</h3>
<% if user_signed_in? %>
    <p>Use the links above to access your devices and captures.</p>
<% else %>
  <p>Login to view your devices and captures.</p>
<% end %>

