<h1>Devices Management</h1>
<h2>Your Devices</h2>
<div class="container">
  <div class="row">
    <div class="column">
      <table class="table">
        <tbody>
          <% @to_display.each { |device| %>
            <tr>
              <td><%= link_to device, '/' + @id + '/devices/details/' + device %></td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<h2>Device Management</h2>
<%= link_to 'Register a new device.', '/' + @id + '/devices/register' %>