<div class="container">
  <div class="row">
    <h3>Your Devices</h3>
    <div class="column">
      <table class="table">
        <tbody>
          <%= @to_display.each { |device| %>
            <tr>
              <td><%= link_to device, '/devices/details/' + device %></td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>
