<div class="container">
  <div class="row">
    <h3>Your Devices</h3>
    <div class="column">
      <table class="table">
        <tbody>
        <% @to_display.inspect %>
            <tr>
              <% #render device %>
            </tr>
        <% #end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
