<% content_for :header_additions do %>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script type="text/javascript" src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/dataloader/dataloader.min.js"></script>
    <script type="text/javascript">
        function updateDetails() {
            var id = "<%= @id %>";
            var capture = "<%= @capture_id %>";

            $.getJSON('/' + id + '/capture_summary/get_summary/' + capture, function(details){
                document.getElementById('CreatedTime').innerHTML = details.createdTime;
                document.getElementById('Duration').innerHTML = details.captureDuration;
                document.getElementById('SampleRate').innerHTML = details.sampleFrequency;
                document.getElementById('SampleCount').innerHTML = details.sampleCount;
                document.getElementById('Sensors').innerHTML = details.sensorNames;
                document.getElementById('IsComplete').innerHTML = details.isComplete;

                if (!details.isComplete) {
                    setTimeout(function() { updateDetails() }, 100);
                }
            }).fail(function() { updateDetails(); });
            $.get('/' + id + '/captures_line_graph/show_all_sensors_csv/' + capture, function(rawData){
                var data = AmCharts.parseCSV( rawData, {
                    "useColumnNames": true
                } );

                <!-- amCharts javascript code -->
                AmCharts.makeChart("chartdiv",
                    {
                        "type": "serial",
                        "categoryField": "category",
                        "startDuration": 1,
                        "categoryAxis": {
                            "gridPosition": "start"
                        },
                        "trendLines": [],
                        "graphs": [
                            {
                                "fixedColumnWidth": -3,
                                "id": "AmGraph-4",
                                "title": "graph 4",
                                "valueField": "Frame Accelerometer"
                            }
                        ],
                        "guides": [],
                        "valueAxes": [
                            {
                                "id": "ValueAxis-1",
                                "title": ""
                            }
                        ],
                        "allLabels": [],
                        "balloon": {},
                        "legend": {
                            "enabled": true,
                            "useGraphSettings": true
                        },
                        "titles": [
                            {
                                "id": "Title-1",
                                "size": 15,
                                "text": "Sensor Data"
                            }
                        ],
                        "dataProvider": data
                    }
                );
            });
        }

        $(window).on('load', function() { updateDetails(); })
    </script>
<% end %>
<h2>Details</h2>
<div class="container">
  <div class="row">
    <div class="column">
      <table class="table">
        <tbody>
        <tr>
          <th>Created</th>
          <th>Duration</th>
          <th>Sample Rate</th>
          <th>Sample Count</th>
          <th>Sensors</th>
          <th>Is Complete</th>
        </tr>
        <tr>
          <td><div id='CreatedTime'>Loading...</div></td>
          <td><div id='Duration'>Loading...</div></td>
          <td><div id='SampleRate'>Loading...</div></td>
          <td><div id='SampleCount'>Loading...</div></td>
          <td><div id='Sensors'>Loading...</div></td>
          <td><div id='IsComplete'>Loading...</div></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<h2>Data Graph</h2>
<div id="chartdiv" style="width: 100%; height: 400px; background-color: #FFFFFF;" ></div>
