<h1>Capture</h1>
<div class="container">
  <div class="row">
    <div class="column">
      <table class="table">
        <tbody>
            <tr>
              <td><%= @capture['CREATEDTIME'] %></td>
              <td><%= @capture['FREQUENCY'] %></td>
              <td><%= link_to 'System', '/' + @id + '/devices/details/' + @capture['SYSTEM_UUID']  %></td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<h2>Processed Videos</h2>
<h2>Upload Video</h2>