<h1>Your video has been submitted.</h1>
<p>It will now be processed and when it is finished processing, it will be available on the capture page.</p>
<p><%= link_to 'Click here to return to the capture page.', '/' + @id + '/captures/show/' + @capture['LOCATION'] %></p>
